@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  :root {
    --color-primary: #5486F0;
    --color-secondary: #F0BF54;
    --color-accent: #D2B48C;
    --color-background: #FFFFFF;
    --color-text: #0F172A;
    /* slate-900 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-primary: #7C9EF5;
      --color-secondary: #F5D982;
      --color-background: #2d2d2df1;
      --color-accent: #E6D3B7;
      --color-text: #F8FAFC;
    }
  }
}

html,
body,
.main-content-wrapper {
  overscroll-behavior: none;
  /* optional */
}